{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "projects/bootstrap-4.3.1-dist/css/bootstrap.css" %}">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          Developen
        </a>

      <div class="w-50 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse flex-grow-1 text-left" id="mainNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          {% if not userStatus %}
            <li class="nav-item active">
                <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}

          {% if userStatus %}
            <li class="nav-item active">
                <a class="nav-link" href="/projects/">Projects<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/projects/sign-out/">Log Out <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  <!-- jQuery -->
  <script src="{% static "projects/bootstrap-4.3.1-dist/js/jquery-1.12.0.min.js" %}"></script>
  <!-- Bootstrap JS -->
  <script src="{% static "projects/bootstrap-4.3.1-dist/js/bootstrap.js" %}"></script>
  </body>
</html>

