{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "projects/bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
		<script src="{% static "projects/bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
	</head>
	<body>
			<div style="padding-bottom: 5px;">
				<a class="btn btn-primary" href="/projects/sign-out/" role="button">Sign Out</a>
			</div>
	  		<div>
	  			<a class="btn btn-danger" href="/projects/delete-account/" role="button">Delete Account</a>
	  		</div>
			
	</body>
</html>

